<template>
  <div>
    <div id="card" class="card center">
      <chart v-if="votos.length > 0" :data="votos" style="margin:auto; width: 50%; height: 50%; margin-bottom: 5%;"/>

      <table id="opinadores">
        <caption>Pessoas que já deram sua opinião.
        </caption>
        <colgroup />
        <colgroup span="2" title="title" />
        <thead>
          <tr>
            <th scope="col">Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="opinador in opinadores" :key="opinador.id">
            <td>{{ opinador.nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import API from '../resources/voto'
import Chart from './Chart.vue'

export default {
  name: 'ListaDeOpnadores',
  data() {
    return {
      opinadores: [],
      votos: []
    }
  },
  components: {
    Chart
  },
  watch: {
    votou (val) {
      if (val) this.load()
    }
  },
  methods: {
    load: async function() {
      try {
        this.opinadores = (await API.listar()).data
      } catch (err) {
        this.$notify({
          group: 'messages',
          type: 'error',
          text: `Não foi possível listar os opinadores :(\ne${err}`
        })
      }
    },
    loadVotos: async function() {
      try {
        this.votos = (await API.votos()).data
      } catch (err) {
        this.$notify({
          group: 'messages',
          type: 'error',
          text: 'Não foi possível contabilizar os votos :('
        })
      }
    }
  },
  mounted() {
    this.load()
    this.loadVotos()
  },
  props: {
    votou: {
      type: Boolean
    }
  }
}
</script>

<style>
#opinadores {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#opinadores td, #opinadores th {
  border: 1px solid #ddd;
  padding: 8px;
}

#opinadores tr:nth-child(even){background-color: #f2f2f2;}

#opinadores tr:hover {background-color: #ddd;}

#opinadores th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
