<template>
  <div id="root">
    <div id="card" class="card center">
      <div id="aligned-content">
        <div id="steps">
          <transition name="slide-fade" mode="out-in">
            <div v-if="passoAtual === 0" id="step-0" :key="0" :class="{ 'form-group--error': $v.nome.$error }">
              <img :key="1" src="../assets/white.jpg" width="100%" />
              <p class="label">Insira seu nome</p>
              <input v-model="nome" placeholder="Nome" class="input-text" @keypress.enter="next">
            </div>

            <div v-if="passoAtual === 1" id="step-1" :key="1">
              <transition name="slide-fade" mode="out-in">
                <img v-if="typeof facista === 'undefined'" :key="1" src="../assets/matrix.jpg" width="100%" />
                <img v-if="facista === true" :key="2" src="../assets/neo.jpg" width="100%" />
                <img v-if="facista === false" :key="3" src="../assets/:(.jpg" width="100%" />
              </transition>

              <p v-if="typeof facista === 'undefined'" class="label">Permanecer nessa ilusão ou conhecer a verdade?</p>
              <button v-if="typeof facista === 'undefined'" id="btn-verdade" class="btn" @click="submit(true)">Vermelha</button>
              <button v-if="typeof facista === 'undefined'" id="btn-ilusao" class="btn" @click="submit(false)">Azul</button>
            </div>
          </transition>

          <div v-if="passoAtual !== passoFinal" id="next-btn" class="nav-btns">
            <button class="btn" @click="next">{{ isLoading ? loader : 'Próximo' }}</button>
          </div>

          <div v-if="passoAtual !== 0" id="return-btn" class="nav-btns">
            <button class="btn" @click="last">Voltar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import API from '../resources/voto'

export default {
  name: 'QuestionAsker',
  data() {
    return {
      nome: undefined,
      facista: undefined,
      passoAtual: 0,
      passoFinal: 1,
      isLoading: false
    }
  },
  watch: {
    isLoading(val) {
      if (val) {
        this.loadingAnimation()
      }
    }
  },
  methods: {
    next: async function() {
      if (this.isLoading || (await this.stepHasError())) {
        return
      }
      this.passoAtual++
    },
    last() {
      this.passoAtual--
    },
    submit: async function(facista) {
      try {
        await API.votar({ nome: this.nome, facista })
        this.$notify({
          group: 'messages',
          type: 'success',
          text: 'Obrigado por votar'
        })
        this.facista = facista
        this.$emit('votou')
      } catch (err) {
        this.$notify({
          group: 'messages',
          type: 'error',
          text: 'Você já votou!'
        })
      }
    },
    stepHasError: async function() {
      if (this.passoAtual === 0) {
        this.$v.nome.$touch()
        return this.$v.nome.$error
      } else if (this.passoAtual === 1) {
        this.$v.resposta.$touch()
        return this.$v.resposta.$error
      }
    },
    loadingAnimation: async function () {
      if (!this.isLoading) {
        return
      }

      switch (this.loader) {
        case 'Loading.':
          this.loader = 'Loading..'
          break
        case 'Loading..':
          this.loader = 'Loading...'
          break
        case 'Loading...':
          this.loader = 'Loading.'
          break
        default:
          this.loader = 'Loading.'
          break
      }

      if (this.isLoading) {
        await setTimeout(async () => {
          return this.loadingAnimation()
        }, 1000)
      }
    }
  },
  validations: {
    nome: {
      required
    }
  }
}
</script>

<style>
/* Mágica de deixar os inputs dentro da div */
input {
  box-sizing:border-box
}

#root {
  display: flex;
}

div.card {
  margin-top: 5%;
  border: 2px solid #e5e5e5;
  border-radius: .5rem;
}

.center {
  margin: auto;
  min-width: 400px;
  max-width: 800px;
  height: 100%;
  background-color: white;
}

#title {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 30px;
}

#title p {
  color: #5f6368;
}

#aligned-content {
  padding: 40px;
}

#steps div {
  margin-bottom: 1vh;
  position: relative;
}

#return-btn {
  margin-right: 5px;
}

.nav-btns {
  max-width: 10vw;
  float: right;
}

.input {
  margin: 0 0 20px;
}

.input-text {
  padding: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: 0;
}

.input-text:focus {
  outline: 0px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: .30s;
}

#btn-verdade {
  background-color: #db2828;
}

.btn {
  position: relative;
  background-color: rgb(63, 81, 181);
  border: none;
  color: #FFFFFF;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 5px auto 5px;
}

.btn:after {
  content: "";
  background: rgb(103, 58, 183);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.btn:hover {
  box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.5);
}

.form-group--error .input-text, .form-group--error .label {
  color: #db2828;
  border-color: #db2828;
}

.form-group--error .input-text:focus {
  box-shadow: 0 0 5px #db2828;
  border: 1px solid #db2828;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
