<template>
  <div id="app">
    <question-asker @votou="votou = true" />
    <lista v-if="votou === true" :votou="votou" />
    <notifications group="messages" class="notify" />
  </div>
</template>

<script>
import QuestionAsker from './components/Question'
import Lista from './components/Lista'

export default {
  name: 'app',
  components: {
    QuestionAsker,
    Lista
  },
  data() {
    return {
      votou: false
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #F7F7F7;
  color: #3b4145;
}

.notify {
  padding-right: 1vw;
  padding-top: 1vh;
}
</style>
